body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.task {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 5px;
  padding: 5px;
  width: auto;
}

.wide {
  flex-grow: 1;
}

.icons {
  color:grey;
}

.alert {
  color: red;
  font-weight: bold;
}

.red {
  color: red;
}

.green {
  color: green;
}

.gray {
  color: gray;
}